[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
markdown = "*"
shortuuid = "*"
bs4 = "*"
markdownify = "*"
lxml = "*"
click-loglevel = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.15"
